backend/venv/
backend/uploads/*
backend/documents/*
backend/.env
backend/*.db
frontend/node_modules/
frontend/dist/
venv/
venv312/
__pycache__/

.env

backend/uploads/*
backend/documents/*
backend/candidates.db

node_modules/
dist/

.DS_Store